---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Section from "../components/Section.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Footer from "../components/Footer.astro";
import Pill from "../components/Pill.astro";
import GithubIcon from "../components/icons/Github.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import MailIcon from "../components/icons/Mail.astro";
---

<Layout
	title="Portfolio de Mateo Gómez - Desarrollador web"
	description="Descubre el potencial web con un desarrollador experimentado. Más de 4 años creando soluciones innovadoras. Explora mi portfolio en GitHub y contáctame para llevar tu proyecto al siguiente nivel."
>
	<main>
		<Section id="home" class="pt-44 pb-24">
			<h1 class="text-5xl font-bold py-6 text-balance">
				Hey, soy <span class="text-[#72d5ff]">Mateo Gómez</span>
			</h1>

			<h2 class="text-2xl text-pretty opacity-80 py-4">
				Más de 4 años dedicados al desarrollo de páginas web y aplicaciones que
				destacan por su diseño intuitivo y eficiencia.
			</h2>

			<nav class="flex flex-wrap gap-4 mt-6">
				<Pill href="https://github.com/mateo-gomez">
					<GithubIcon class="size-5" />
					GitHub
				</Pill>
				<Pill href="https://www.linkedin.com/in/mateo-gomez-molina">
					<LinkedinIcon class="size-5" />
					LinkedIn
				</Pill>
				<Pill href="mailto:mateogomezmolina@gmail.com">
					<MailIcon class="size-5" />
					mateogomezmolina@gmail.com
				</Pill>
			</nav>
		</Section>

		<Section id="experience">
			<h2 class="text-3xl mb-6 font-bold">Experiencia laboral</h2>
			<Experience />
		</Section>

		<Section id="projects">
			<h2 class="text-3xl mb-6 font-bold">Proyectos</h2>
			<Projects />
		</Section>

		<Section id="about">
			<h2 class="text-3xl mb-6 font-bold">Sobre mi</h2>
			<AboutMe />
		</Section>

		<Footer />
	</main>
</Layout>
