<article class="flex gap-8 flex-col-reverse md:flex-row items-center">
    <div class="[&>p]:mb-4 w-full">
        <p>
            Soy Mateo Gómez Molina, un desarrollador web con más de 4 años de
            experiencia como Fullstack y Frontend Developer. Me apasiona ser
            autodidacta y estar al tanto de las últimas tecnologías.
        </p>

        <p>
            Algunos de mis logros incluyen el rediseño de una página web, donde
            mejoré el embudo de ventas de seguros, lo cual tuvo un efecto
            positivo en la experiencia del usuario, así como en la puntuación en
            Trustpilot.
        </p>

        <p>
            ¡Espero con ansias la oportunidad de colaborar contigo o discutir
            cualquier proyecto relacionado con el desarrollo web!
        </p>
    </div>

    <div class="flex items-center justify-center">
        <div
            class="w-72 md:w-60 rounded-md aspect-auto rotate-3 bg-gradient-to-r from-[#7400b8] via-[#48bfe3] to-[#80ffdb] p-1"
        >
            <img src="/foto-2.png" alt="Retrato de Mateo Gómez" />
        </div>
    </div>
</article>