---
import { ROUTES } from "../constants/routes";
---

<header class="w-full fixed bg-[#121212]/60 backdrop-blur z-50">
	<div
		class="w-full mx-auto lg:w-[1120px] h-[70px] border-solid border-b-2 border-b-slate-300 flex items-center justify-between py-5"
	>
		<a href="#">
			<picture>
				<img
					class="aspect-square w-[50px] rounded-full"
					src="/foto.jpg"
					alt=""
				/>
			</picture>
		</a>

		<nav class="flex items-center gap-x-10 opacity-80">
			{ROUTES.map(({ name, link }) => <a href={link}>{name}</a>)}
		</nav>
	</div>
</header>
