---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div
			class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(70%_60%_at_50%_10%,#06141a_50%,#121212_100%)]"
		>
		</div>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: "onest variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
